#link {
    text-align: end;
}

.round {
    border-radius: 30px;
    text-align: center;
}

#input {
    text-align-last: center;
    padding-top: 300px;
}

.advanced_Search_Button {
    background-color: blue;
    color: white;
    
    
    
}




